@font-face {
    font-family: FreightBig Pro;
    src: url('./assets/fonts/FreightBig/FreightBigBold.otf') format("opentype");
}

@font-face {
    font-family: ProximaNova-Light;
    src: url('./assets/fonts/FontsFree-Net-Proxima-Nova-Light.otf') format("opentype");
}

@font-face {
    font-family: ProximaNova-Semibold;
    src: url('./assets/fonts/FontsFree-Net-Proxima-Nova-Sbold.otf') format("opentype");
}

@font-face {
    font-family: georgia;
    src: url('./assets/fonts/georgia/Georgia.ttf') format("truetype");
}

@font-face {
    font-family: bebas_neuebold;
    src: url('./assets/fonts/Bebas-Neue-Bold/BebasNeueBold.otf') format("opentype");
}

@font-face {
    font-family: gidoleregular;
    src: url('./assets/fonts/gidole/Gidole-Regular.otf') format("opentype");
}

body {
    overflow-x: hidden;
}

.slideContent>* {
    padding-right: 20px;
}

body,
p,
div {
    font-family: georgia;
}

.navigation {
    width: 10%;
    float: left;
}

.navigation img {
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.content {
    margin-left: 10%;
    width: 90%;
    float: left;
    padding-top: 20px;
}

.right_panel {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: scroll;
    overflow-y: scroll;
    display: block;
}

.fixed_menu {
    transition: top .4s;
}

.fixed_menu {
    position: fixed;
    text-align: left;
    top: 250px;
    width: 10%;
}

.fixed_menu ul {
    float: none;
    margin: auto;
    display: block !important;
    margin-left: 18px !important;
    width: 100px;
}

.fixed_menu ul li {
    font-family: ProximaNova-Semibold;
    font-size: 13px;
    letter-spacing: 2px;
    list-style: none;
    text-transform: uppercase;
    padding-bottom: 0px;
    padding-top: 19px;
    margin-bottom: 10px;
}

.fixed_menu ul li a span:before {
    content: attr(rel);
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    padding: 0;
    color: #000;
}

li {
    font-family: ProximaNova-Light;
    font-size: 16px;
    color: #000000;
    line-height: 28px;
}

.fixed_menu ul li a {
    color: #999;
    position: relative;
    display: inherit;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    border-bottom: 1px solid #999;
}

.fixed_menu ul li a span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    margin-top: 0px;
    height: 100%;
    overflow: hidden;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    border-bottom: 1px solid #000;
}

.fixed_menu ul li a::after {
    border-radius: 1em;
    border-top: .1em solid black;
    bottom: -2px;
    content: "";
    left: 0;
    position: absolute;
    right: 100%;
    -webkit-transition: border-color 1s ease-out;
    transition: border-color 1s ease-out;
}

.fixed_menu ul li a:hover {
    right: 0;
    text-decoration: none;
    color: black;
    transition: color 1000ms linear;
}

.fixed_menu ul li a:hover::after {
    -webkit-animation: anchor-underline 2s cubic-bezier(0, .5, 0, 1) infinite;
    animation: anchor-underline 2s cubic-bezier(0, .5, 0, 1) infinite;
}

nav {
    all: revert;
}

.header {
    all: revert;
}

header.homepage-slider {
    padding-bottom: 0 !important;
}

header {
    height: 100vh !important;
}

header {
    position: relative;
}

header .active {
    height: 100%;
}

header .header {
    /* position: fixed; */
    background-attachment: fixed;
    background-size: 100%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 0;
    -moz-transition: height 0.9s cubic-bezier(0.63, 0.64, 0.3, 1) !important;
    -o-transition: height 0.9s cubic-bezier(0.63, 0.64, 0.3, 1) !important;
    -webkit-transition: height 0.9s cubic-bezier(0.63, 0.64, 0.3, 1) !important;
    transition: height 0.9s cubic-bezier(0.63, 0.64, 0.3, 1) !important;
    -moz-transform: translateZ(0) !important;
    -ms-transform: translateZ(0) !important;
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
}

header section {
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
}

header .header .slideImage {
    /* height: 100vh; */
    background-size: cover !important;
    /* background-position: center center !important; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.display-flex {
    display: flex;
}

.max-width-60vh {
    max-width: 60vh;
}

.slideContent {
    position: absolute;
    /* height: 100vh; */
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-left: 5vw;
    /* max-width: 70vh; */
}

.slideContent h2 {
    color: #2c2c2c;
    font-size: 70px;
    padding-bottom: .35em;
    line-height: .8 !important;
}

.slideContent>* {
    padding-right: 20px;
}

.slideContent p {
    line-height: 1.5 !important;
    padding-bottom: 1em;
}

.slideContent>* {
    padding-right: 20px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'FreightBig Pro' !important;
}

.slideContent .view-more {
    font-size: 14px !important;
    text-transform: uppercase !important;
    font-family: ProximaNova-Semibold !important;
    letter-spacing: 3px !important;
    border-bottom: 2px solid black !important;
    display: inline-block !important;
    padding-bottom: 2px !important;
}

.second_section .view-more {
    font-size: 14px !important;
    text-transform: uppercase !important;
    font-family: ProximaNova-Semibold !important;
    letter-spacing: 3px !important;
    border-bottom: 2px solid black !important;
    display: inline-block !important;
    padding-bottom: 2px !important;
    text-align: left !important;
}

.slideContent p {
    line-height: 1.5 !important;
    padding-bottom: 1em !important;
}

p {
    font-family: ProximaNova-Light !important;
    font-size: 16px !important;
    color: #000000 !important;
    line-height: 28px !important;
}

header .active {
    height: 100%;
}

header section {
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
}

#header ul.indicators {
    position: absolute !important;
    width: 130px;
    height: 50px;
    left: 93% !important;
    top: 37% !important;
    z-index: 9999 !important;
    transform: rotate(90deg);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #header ul.indicators {
        left: 75% !important;
    }
    .callouts {
        width: 100vw !important;
    }
    .serices img {
        width: 40px !important;
    }
    .serices p {
        font-size: 12px !important;
    }
    #serices-text {
        width: 80vw !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #header ul.indicators {
        left: 83% !important;
    }
    .callouts {
        width: 100vw !important;
    }
    .serices img {
        width: 60px !important;
    }
    .serices p {
        font-size: 16px !important;
    }
    #serices-text {
        width: 80vw !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #header ul.indicators {
        left: 90% !important;
    }
}

.carousel .indicators .indicator-item {
    background-color: #bbbbbb !important;
    margin: 0 11px !important;
}

.carousel .indicators .indicator-item.active {
    background-color: #ee5eb6 !important;
}

@media only screen and (max-width: 1200px) {
    .slideContent h2 {
        font-size: 60px !important;
    }
}

.slideContent h2 {
    font-size: 70px !important;
}

@media screen and (min-width: 1024px) {
    #land_sec_2 {
        padding-bottom: 5vw;
        padding-top: 5vw;
    }
}

#land_sec_2,
.yha,
.yha video,
#land_sec_4,
.whowehelped,
#land_sec_5,
.common_footer,
footer {
    z-index: 20;
}

.column.row.row,
.row.row.columns {
    float: none;
}

@media screen and (min-width: 40em) {
    .column,
    .columns {
        padding-left: 2.9375rem;
        padding-right: 2.9375rem;
    }
}

.column,
.columns {
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.second_section {
    border-left: 1px solid #f3f3f3;
    background-color: white;
    padding-bottom: 5vw;
    padding-top: 10vw;
    text-align: center;
}

.nrdott-y {
    position: relative;
    left: -.4vw;
}

.nrdott {
    margin-left: 0 !important;
}

.nrdott {
    color: #ec1b9e;
}

.h3_centered_grey {
    font-size: 22px !important;
    color: #000000;
    line-height: 38px !important;
    letter-spacing: .8px;
}

.div_center {
    float: none;
    margin: auto;
}

.max_width_610 {
    max-width: 900px;
}

.padding_top_45 {
    padding-top: 45px;
}

.margin_auto {
    margin: auto;
}

.header_case_study_black {
    font-size: 14px;
    text-transform: uppercase;
    font-family: ProximaNova-Semibold;
    letter-spacing: 3px;
}

.header_case_study_black a {
    color: black;
    border-bottom: 2px solid black;
    display: inline-block;
}

.header_case_study_black a,
.header_case_study a {
    padding: 9px 0 5px;
    color: #566473;
    text-shadow: none;
}

.header_case_study_black a,
.header_case_study a {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    outline: none;
    text-decoration: none;
    border-bottom: none !important;
    font-size: 14px;
    text-transform: uppercase;
    font-family: ProximaNova-Semibold;
    letter-spacing: 3px;
}

.header_case_study_black a::before,
.header_case_study_black a::after {
    background: #000;
}

.header_case_study_black a::before,
.header_case_study_black a::after,
.header_case_study a::before,
.header_case_study a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
}

.testimonial_slider_set.testimonial_slider {
    width: 100% !important;
    max-width: 100%;
    display: block;
}

.testimonial_slider {
    overflow: hidden;
    line-height: 18px;
    position: relative;
}

.testimonial_slider__default div,
.testimonial_slider__default p,
.testimonial_slider__default li,
.testimonial_slider__default span,
.testimonial_slider__default img,
.testimonial_slider__default h2,
.testimonial_slider__default ul {
    vertical-align: baseline;
}

#testimonial_slider_recent {
    position: relative !important;
    height: 250px !important;
    max-height: 500px !important;
}

#testimonial_slider_recent ul.indicators {
    position: absolute;
    bottom: 0 !important;
    height: 50px;
}

.testimonial_slider__default .testimonial_slideri {
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.testimonial_slider__default .testimonial_slideri {
    background-color: #f4f3f4 !important;
}

.testimonial_quote {
    font-family: 'FreightBig Pro' !important;
    font-size: 26px !important;
    color: #000000 !important;
    line-height: 38px !important;
    background: none !important;
    padding-left: 0 !important;
    width: 100% !important;
    font-style: normal !important;
    text-align: center;
}

.testimonial_quote:before {
    content: "\201C";
}

.testimonial_quote:after {
    content: "\201D";
    /* content: 'â€'; */
}

.testimonial_slider__default .testimonial_by_wrap .testimonial_avatar {
    margin: 0;
}

.testimonial_slider__default .testimonial_by_wrap span {
    display: inline-block;
    width: 100%;
}

.testimonial_by {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 55px;
    font-family: ProximaNova-Semibold !important;
    letter-spacing: 3px !important;
    font-size: 14px !important;
}

.homepage-testimonials {
    overflow: auto;
    background-color: #f4f3f4;
}

section {
    position: relative;
}

.home-testimonials {
    max-width: 100%;
    margin: 7vw auto;
}

@media screen and (max-width: 1280px) {
    .opt-award {
        padding: 110px 0;
    }
}

@media screen and (max-width: 1440px) {
    .opt-award {
        padding: 130px 0;
    }
}

@media screen and (max-width: 1280px) {
    .opt-award .section-content .pre-title {
        font-size: 30px;
        padding-bottom: 30px;
        letter-spacing: 5px;
    }
}

@media screen and (max-width: 1440px) {
    .opt-award .section-content .pre-title {
        font-size: 35px;
        padding-bottom: 35px;
    }
}

.opt-award .section-content .pre-title {
    font-family: ProximaNovaBold, ProximaNova-Semibold;
    font-size: 40px;
    color: #174bff;
    padding-bottom: 40px;
    letter-spacing: 8px;
}

.opt-award {
    padding: 150px 0;
    text-align: center;
    background: #131316;
}

.whatwedo {
    padding-top: 10vw;
}

.whatwedo {
    padding-top: 5vw;
    padding-bottom: 100px;
    z-index: 99;
    background-color: #fff;
}

.whatwedo h2 {
    /* font-size: 65px; */
    text-align: center;
    font-family: 'FreightBig Pro';
}

@media only screen and (max-width: 1200px) {
    .h1_centered {
        font-size: 60px !important;
    }
}

.h1_centered {
    line-height: 1 !important;
}

.grey-text {
    color: #7f7f7f;
    font-family: ProximaNova-Light;
    font-size: 16px;
}

.callouts p.title {
    text-shadow: 2px 1px 0px #fff;
    font-family: ProximaNova-Light;
    font-size: 17px;
    color: #000000;
    line-height: 28px;
    font-weight: 800;
}

.callouts p {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: ProximaNova-Semibold;
}

.whatwedo .view-our-service a {
    text-shadow: 2px 1px 0px #fff;
}

.view-our-service a {
    display: inline-block;
    margin: auto;
}

.header_case_study_black a {
    color: black;
    border-bottom: 2px solid black;
    display: inline-block;
}

.header_case_study_black a,
.header_case_study a {
    padding: 9px 0 5px;
    color: #566473;
    text-shadow: none;
}

.header_case_study_black a,
.header_case_study a {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    outline: none;
    text-decoration: none;
    border-bottom: none !important;
    font-size: 14px;
    text-transform: uppercase;
    font-family: ProximaNova-Semibold;
    letter-spacing: 3px;
}

.mtb-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mtb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.brand-text {
    text-align: left !important;
    color: #7f7f7f !important;
    font-family: ProximaNova-Light !important;
    font-size: 16px !important;
}

@media screen and (max-width: 1280px) {
    .opt-award .section-content .award-title {
        padding-bottom: 50px;
        font-size: 60px;
        line-height: 80px;
    }
}

@media screen and (max-width: 1440px) {
    .opt-award .section-content .award-title {
        padding-bottom: 50px;
        font-size: 70px;
        line-height: 90px;
    }
}

.opt-award .section-content .award-title {
    font-family: 'FreightBig Pro';
    color: #fff;
    padding-bottom: 60px;
    font-size: 60px;
}

.section_five {
    background-color: #F3F3F3;
}

#land_sec_5 {
    padding-bottom: 100px;
    padding-top: 50px;
}

#stayintouch h2 {
    padding: 0 0 .5em;
}

@media only screen and (max-width: 1200px) {
    .h1_centered {
        font-size: 60px !important;
    }
}

.nr_newsletter {
    padding-bottom: 14px;
}

.large_body_centered_black {
    font-size: 18px !important;
    color: black;
    font-family: ProximaNova-Light;
    text-align: center;
    line-height: 28px;
}

.contact_cross_newsletter {
    display: none;
    position: fixed;
    bottom: 54px;
    z-index: 9999;
    width: 100%;
    left: 0px;
    background-color: #87E39C;
    padding-top: 15px;
    height: auto;
}

.footer_contact_cross_div {
    text-align: right;
}

.footer_contact_cross_div span {
    font-family: ProximaNova-Semibold;
    font-size: 14px;
    letter-spacing: 3px;
    margin-right: 10px;
}

.mc4wp-form-fields p input[type='email'] {
    max-width: 580px;
    float: none;
    margin: auto;
    margin-top: 27px;
}

@media screen and (max-width: 1279px) {
    input[type='text'],
    input[type='email'],
    select {
        font-size: 15px;
    }
}

input[type='text'],
input[type='email'],
input[type='file'],
select {
    padding-top: 10px;
    background-color: #FFFFFF !important;
    border: 1px solid #DFDFDF !important;
    border-radius: 5px !important;
    font-family: ProximaNova-Light;
    font-size: 18px;
    letter-spacing: 0px;
    height: 52px;
    padding-left: 15px !important;
}

input:focus {
    outline: none !important;
}

.header_case_study_black {
    font-size: 14px;
    text-transform: uppercase;
    font-family: ProximaNova-Semibold;
    letter-spacing: 3px;
}

.header_case_study_black input[type='submit'] {
    padding-top: 30px;
}

.header_case_study_black input[type="submit"] {
    background-color: transparent;
    color: #000;
    border-bottom: 3px solid #000 !important;
    float: none;
    margin: auto;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    font-family: ProximaNova-Semibold;
    font-size: 14px;
    letter-spacing: 3px;
    border: 0px;
    text-transform: inherit;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

[type='submit'],
[type='button'] {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input {
    line-height: normal;
}

footer.page {
    padding-top: 80px;
    padding-bottom: 30px;
    z-index: 99;
}

footer {
    margin-top: -30px;
    border-top: 1px solid #979797;
    background-color: #000;
}

.foooter_social_link {
    margin-bottom: 50px;
}

.foooter_social_link a {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #3f4046;
    margin: 0 10px;
}

.foooter_social_link a:hover .fa {
    color: #f51874 !important;
}

.foooter_social_link .fa {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.fa {
    color: #fff;
    font: normal normal normal 14px/1 FontAwesome;
    -o-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -khtml-transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    transition: color 0.5s linear;
}

p.footer-badges {
    text-align: center;
    font-family: ProximaNova-Light;
    font-size: 16px;
    color: #000000;
    line-height: 28px;
}

@media screen and (min-width: 64em) {
    .large-offset-1 {
        margin-left: 8.33333%;
    }
}

.footer-badges img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}

p.copyright {
    color: #979797 !important;
}

.copyright {
    color: #fff;
    font-size: 14px;
}

@-webkit-keyframes anchor-underline {
    0%,
    10% {
        left: 0;
        right: 100%;
    }
    40%,
    60% {
        left: 0;
        right: 0;
    }
    90%,
    100% {
        left: 100%;
        right: 0;
    }
}

@keyframes anchor-underline {
    0%,
    10% {
        left: 0;
        right: 100%;
    }
    40%,
    60% {
        left: 0;
        right: 0;
    }
    90%,
    100% {
        left: 100%;
        right: 0;
    }
}

@media screen and (min-width: 1025px) {
    .mobile_menu_bar {
        width: 0;
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .mobile_menu_bar {
        width: 100%;
        height: 125px;
        display: block;
    }
    .mobile_menu_bar {
        display: block;
        width: 100%;
        height: 65px;
        position: fixed;
        background-color: white;
        z-index: 99999999999999;
    }
    .mobile_menu {
        display: block;
        position: fixed;
        right: 13px;
        top: 20px;
        background: white;
        z-index: 999;
    }
    .menu_text {
        font-family: ProximaNova-Semibold;
        font-size: 12px;
        color: #000000;
        letter-spacing: 2.57px;
    }
    .mobile_menu img {
        cursor: pointer;
    }
    .menu_icon {
        position: relative !important;
        margin-right: 10px;
    }
    .mobile_inner_menu {
        display: block;
        position: fixed;
        background-color: white;
        top: 64px;
        width: 100%;
        right: 0;
        border-top: 1px solid #e3e3e3;
        padding-top: 50px;
        padding-bottom: 50px;
        z-index: 99999;
        height: 95vh;
        opacity: 0.99;
    }
    .mobile_inner_menu div {
        margin-left: 7%;
    }
    .mobile_inner_menu div p {
        font-size: 14px;
        text-transform: uppercase;
        font-family: ProximaNova-Semibold;
        letter-spacing: 3px;
        margin-bottom: 30px;
        /* width: 213px; */
        border-bottom: 1px solid #999;
        width: 140px;
        padding-bottom: 0px;
    }
    .mobile_inner_menu div p a {
        color: #999;
        border-bottom: none !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .navigation {
        width: 0;
        float: none;
        display: none;
    }
    .right_panel {
        width: 0 !important;
        display: none !important;
    }
    .fixed_menu {
        width: 0 !important;
        display: none !important;
    }
    .content {
        margin-left: 0;
        width: 100%;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 375px) {
    header .header .slideImage {
        height: 28vh !important;
    }
}

@media only screen and (max-width: 420px) {
    header .header .slideImage {
        height: 30vh !important;
    }
}

@media screen and (max-width: 580px) {
    header .header .slideImage {
        height: 24vh !important;
        /* top: unset !important; */
        z-index: 99;
    }
}

@media only screen and (max-width: 360px) {
    .left_panel {
        height: 90vh !important;
    }
    .header .slideContent h2 {
        font-size: 33px !important;
        padding-top: 56px;
        margin-top: 340px;
    }
    .h1_centered {
        font-size: 40px !important;
    }
    p {
        font-size: 16px !important;
        line-height: 20px !important;
    }
    .inputsize {
        width: 300px !important;
    }
}

@media only screen and (max-width: 375px) {
    .left_panel {
        height: 75vh !important;
    }
    .header .slideContent h2 {
        font-size: 33px !important;
        padding-top: 56px;
        margin-top: 340px;
    }
    .h1_centered {
        font-size: 40px !important;
    }
    p {
        font-size: 16px !important;
        line-height: 20px !important;
    }
    .inputsize {
        width: 300px !important;
    }
    .inputmsg {
        width: 300px !important;
    }
}

@media (max-width: 480px) {
    .foooter_social_link a {
        margin: 0 3px;
    }
}

@media only screen and (max-width: 420px) {
    .left_panel {
        height: 82vh !important;
    }
    .slideContent {
        height: 110vh !important;
    }
    .header .slideContent h2 {
        font-size: 33px !important;
        padding-top: 56px;
        margin-top: 340px;
    }
    .h1_centered {
        font-size: 40px !important;
    }
    p {
        font-size: 16px !important;
        line-height: 20px !important;
    }
    .inputsize {
        width: 300px !important
    }
    .inputmsg {
        width: 300px !important;
    }
}

@media screen and (max-width: 580px) {
    .left_panel {
        height: 70vh !important;
    }
    .slideContent {
        height: 40vh !important;
        /* background: linear-gradient(#fefefe, #eee); */
    }
    header .header {
        background: #eee;
    }
    .header .slideContent h2 {
        font-size: 33px !important;
        padding-top: 56px;
        margin-top: 340px;
    }
    .h1_centered {
        font-size: 40px !important;
    }
    p {
        font-size: 16px !important;
        line-height: 20px !important;
    }
}

@media screen and (max-width: 550px) {
    h2 {
        line-height: 25px !important;
    }
    .header .slideContent h2 {
        font-size: 33px !important;
        padding-top: 56px;
        margin-top: 340px;
    }
    .h1_centered {
        font-size: 40px !important;
    }
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 20px !important;
    }
    .slideContent h2 {
        font-size: 40px !important;
        margin-top: 340px;
    }
}

@media only screen and (max-width: 600px) {
    .slideContent h2 {
        font-size: 40px !important;
        margin-top: 340px;
    }
    .h1_centered {
        font-size: 40px !important;
    }
}

@media only screen and (max-width: 1200px) {
    .slideContent h2 {
        font-size: 60px !important;
    }
}

@media screen and (max-width: 1024px) {
    .left_panel {
        margin-left: 0;
    }
    .left_panel,
    video {
        width: 100% !important;
        margin-top: 65px;
    }
}